<h1 class="pb-2">Search Stock Ticker<h1>
<%= form_with method: :post, url: stocks_search_path, class: "pb-10", local: true do |f| %>
  <%= f.text_field :ticker, class: "border border-solid border-gray-700 py-1 px-2" %>
  <%= f.submit "Search", class: "bg-gray-700 hover:bg-gray-500 transition-all duration-200 cursor-pointer px-3 py-1 text-white rounded-sm" %>
<% end %>

<% @active = @client.stock_market_list(:mostactive) %>

<div class="flex flex-row flex-wrap justify-around"> 

  <div>
    <h2 class="text-center text-xl mb-2"><b>Most Active</b></h2>

    <table>
      <thead>
        <tr class="h-10 text-sm font-semi-bold uppercase text-gray-600 bg-gray-200 text-center">
          <th>Stock</th>
          <th>Volume</th>
          <th>Last</th>
          <th>% Change</th>
          <th class="px-2">Change</th>
        </tr>
      </thead>

      <tbody>
        <% @active.each do | act | %> 
          <tr>
            <td class="text-center p-2"><%= act.symbol %></td>
            <td class="text-center p-2"><%= number_with_delimiter(act.avg_total_volume, :delimeter => ',') %></td>
            <td class="text-center p-2"><%= number_to_currency(act.latest_price) %></td>
            <td class="text-center p-2"><%= act.change_percent_s %></td>
            <td class="text-center p-2"><%= act.change %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
    
    
  <div>
    <h2 class="text-center text-xl mb-2"><b>Top Gainers</b></h2>
    <table>
      <thead>
        <tr class="h-10 text-sm font-semi-bold uppercase text-gray-600 bg-gray-200 text-center">
          <th>Stock</th>
          <th>Last</th>
          <th>Change</th>
          <th class="px-2">% Change</th>
        </tr>
      </thead>
      
      <tbody>
        <% @gainers.each do | gain | %>
          <tr>
            <td class="text-center p-2"> <%= gain.symbol %> </td> 
            <td class="text-center p-2"> <%= number_to_currency(gain.latest_price) %></td>
            <td class="text-center p-2"> <%= gain.change %> </td>
            <td class="text-center p-2"> <%= gain.change_percent_s %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <h2 class="text-center text-xl mb-2"><b>Top Losers</b></h2>
    <table>
      <thead>
        <tr class="h-10 text-sm font-semi-bold uppercase text-gray-600 bg-gray-200 text-center">
          <th>Stock</th>
          <th>Last</th>
          <th>Change</th>
          <th class="px-2">% Change</th>
        </tr>
      </thead>

      <tbody>
        <% @losers.each do | lose | %>
          <tr>
            <td class="text-center p-2"> <%= lose.symbol %> </td>
            <td class="text-center p-2"> <%= number_to_currency(lose.latest_price) %> </td>
            <td class="text-center p-2"> <%= lose.change %> </td>
            <td class="text-center p-2"> <%= lose.change_percent_s %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div> 