<div class="flex justify-between"> 
  <div class="flex">  
    <img src="<%= @logo.url %>" alt="Stock Logo" width="62" height="auto" class="rounded-sm">

    <div class="ml-4">
      <h1> 
        <span class="text-2xl font-bold"> <%= @company.symbol %> </span> | 
        <span class="text-sm"> <%= @company.company_name %> </span>
      </h1>
      <p> 
        <span class="text-2xl mr-2"> <%= number_to_currency(@quote.latest_price) %> </span> 
        <span class="text-sm <%= @quote.change >= 0 ? "text-green-500" : "text-red-500" %> "> <%= @quote.change %>  (<%= @quote.change_percent_s %>) </span>
      </p>
    </div>
  </div>

  <%= link_to new_transaction_path, class: "my-2 py-3 px-5 text-white bg-green-600 hover:bg-green-700 rounded-lg cursor-pointer transition-all duration-200" do %> Trade <% end %>
</div> 
