<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @stock.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @stock.content %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
