<div class="w-full h-full">
    <h1 class="text-4xl mb-3">Portfolio</h1>
    <table class="
    w-full bg-white
    ">
        <thead>
            <tr class="
            h-10
            text-sm font-semibold uppercase text-gray-600
            bg-gray-200 text-left
            ">
                <th>
                    <span class="ml-8">Stock</span>
                </th>
                <th class="text-center p-2">Market Price</th>
                <th class="text-center p-2">Average Price</th>
                <th class="text-center p-2">Shares</th>
                <th class="text-center p-2">Market Value</th>
                <th class="text-center p-2">P/L</th>
                <th class="text-center p-2">P/L %</th>
            </tr>
        </thead>
        <tbody>
            <% @portfolio.each do |portfolio_stock| %>
                <% mkt_price = @client.quote(portfolio_stock.stock).latest_price %>
                <tr class="
                <%= @toggle == "odd" ? "" : "bg-gray-200" %>
                ">
                    <% @toggle = (@toggle == "odd" ? "even" : "odd") %>
                    <td class="
                    flex items-center
                    h-16
                    px-8
                    ">
                        <%= image_tag @client.logo(portfolio_stock.stock).url, class: "h-4/5" %>
                        <div class="ml-3">
                            <div class="
                            font-semibold
                            ">
                                <%= @client.company(portfolio_stock.stock).company_name %>
                            </div>
                            <div class="
                            text-gray-600 text-xs
                            ">
                                <%= portfolio_stock.stock %>
                            </div>
                        </div>
                    </td>
                    <th class="text-center p-2">
                        <%= number_to_currency(mkt_price) %>
                    </td>
                    <th class="text-center p-2">
                        <%= number_to_currency(portfolio_stock.average_price) %>
                    </td>
                    <th class="text-center p-2">
                        <%= portfolio_stock.shares %>
                    </td>
                    <th class="text-center p-2">
                        <%= number_to_currency(portfolio_stock.market_price_total(mkt_price)) %>
                    </td>
                    <td class="<%= portfolio_stock.pnl(mkt_price)>0 ? "text-green-500" : "text-red-500" %>">
                        <%= number_to_currency(portfolio_stock.pnl(mkt_price)) %>
                    </td>
                    <td class="<%= portfolio_stock.pnl(mkt_price)>0 ? "text-green-500" : "text-red-500" %>">
                        <%= number_to_percentage(portfolio_stock.pnl_perc(mkt_price) * 100, precision: 2) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>