<div class="w-full h-full">
    <h1 class="text-4xl mb-8"><%= @user.last_name %>, <%= @user.first_name %> (<%= @user.email %>)</h1>

    <%# balance, maybe? %>

    <%# portfolio %>
    <h2 class="text-3xl mb-3">Portfolio</h2>
    <table class="
    w-full
    mb-8
    <%# shadow-md %>
    ">
        <thead>
            <tr class="
            h-10
            text-sm font-semi-bold uppercase text-gray-600
            bg-gray-200 text-left
            ">
                <th>
                    <span class="ml-5">Stock</span>
                </th>
                <th>Market Price</th>
                <th>Average Price</th>
                <th>Shares</th>
                <th>Market Value</th>
                <th>P/L</th>
                <th>P/L %</th>
            </tr>
        </thead>
        <tbody>
            <% @portfolio.each do |portfolio_stock| %>
                <% mkt_price = @client.quote(portfolio_stock.stock).latest_price %>
                <tr class="
                <%= @toggle2 == "odd" ? "" : "bg-gray-200" %>
                ">
                    <% @toggle2 = (@toggle2 == "odd" ? "even" : "odd") %>
                    <td class="
                    flex items-center
                    h-16
                    px-5
                    ">
                        <%= image_tag @client.logo(portfolio_stock.stock).url, class: "h-4/5" %>
                        <div class="ml-3">
                            <div class="
                            font-semibold
                            ">
                                <%= @client.company(portfolio_stock.stock).company_name %>
                            </div>
                            <div class="
                            text-gray-600 text-xs
                            ">
                                <%= portfolio_stock.stock %>
                            </div>
                        </div>
                    </td>
                    <td>
                        <%= number_to_currency(mkt_price) %>
                    </td>
                    <td>
                        <%= number_to_currency(portfolio_stock.average_price) %>
                    </td>
                    <td>
                        <%= portfolio_stock.shares %>
                    </td>
                    <td>
                        <%= number_to_currency(portfolio_stock.market_price_total(mkt_price)) %>
                    </td>
                    <td class="<%= portfolio_stock.pnl(mkt_price)>0 ? "text-green-500" : "text-red-500" %>">
                        <%= number_to_currency(portfolio_stock.pnl(mkt_price)) %>
                    </td>
                    <td class="<%= portfolio_stock.pnl(mkt_price)>0 ? "text-green-500" : "text-red-500" %>">
                        <%= number_to_percentage(portfolio_stock.pnl_perc(mkt_price) * 100, precision: 2) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%# transactions %>
    <h2 class="text-3xl mb-3">Transactions</h2>
    <table class="
    w-full
    ">
        <thead>
            <tr class="
            h-10
            text-sm font-semi-bold uppercase text-gray-600
            bg-gray-200 text-left
            ">
                <th>
                    <span class="ml-5">Action</span>
                </th>
                <th>Total Price</th>
                <th>Shares</th>
                <th>Average Price</th>
                <th>Current Price</th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |transaction| %>
                <% mkt_price = @client.quote(transaction.stock).latest_price %>
                <tr class="
                <%= @toggle == "odd" ? "" : "bg-gray-200" %>
                ">
                <% @toggle = (@toggle == "odd" ? "even" : "odd") %>
                    <td class="
                    flex items-center
                    h-16
                    px-5
                    ">
                        <%= image_tag @client.logo(transaction.stock).url, class: "h-4/5" %>
                        <div class="ml-3 flex flex-col">
                        <p class="font-semibold uppercase">
                            <%= transaction.action %> <%= transaction.stock %>
                        </p>
                        <p class="text-gray-600 text-sm">
                            <%= transaction.created_at.strftime("%d/%m/%Y %I:%M %p") %>
                        </p>
                        </div>
                    </td>
                    <td>
                        <%= number_to_currency(transaction.price_per_share * transaction.shares) %>
                    </td>
                    <td>
                        <%= transaction.shares %>
                    </td>
                    <td>
                        <%= number_to_currency(transaction.price_per_share) %>
                    </td>
                    <td>
                        <%= number_to_currency(mkt_price) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>