<% content_for :head do %>
  <%# <%= javascript_include_tag "transactions_new.js" %> %>
<% end %>
<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%# USER_ID (HIDDEN) %>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <%# ACTION %>
  <div>
    <%= form.label :action, "Action" %>
    <%= form.select :action, ["Buy", "Sell"] %>
  </div>

  <%# STOCK %>
  <%# should be some datalist -- look for gem like react-select %>
  <%# :stock %>
  <div>
    <%= form.label :stock, "Stock" %>
    <%= form.text_field :stock, placeholder: "Ticker" %>
  </div>

  <%# NUMBER OF SHARES %>
  <%# rename to "shares" for readability %>
  <div>
    <%= form.label :amount, "Shares" %>
    <%= form.number_field :amount, placeholder: "Number of shares" %>
  </div>

  <%# PRICE PER SHARE %>
  <%# TODO: rename to price_per_share for readability %>
  <div>
    <%= form.label :total_price, "Price per share" %>
    <%= form.number_field :total_price,
      step: :any,
      readonly: true,
      placeholder: "Price per share"
      %>
  </div>

  <div class="actions">
    <%= form.submit data: { disable_with: "Sending..." } %>
  </div>
<% end %>
