<div class="w-full h-full">
  <h1 class="text-4xl mb-3">Transactions</h1>
  <table class="
  w-full bg-white
  ">
    <thead>
      <tr class="
      h-10
      text-sm font-semibold uppercase text-gray-600
      bg-gray-200 text-left
      ">
        <th>
          <span class="ml-8">Action</span>
        </th>
        <th class="text-center p-2">Total Price</th>
        <th class="text-center p-2">Shares</th>
        <th class="text-center p-2">Average Price</th>
        <th class="text-center p-2">Current Price</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <% mkt_price = @client.quote(transaction.stock).latest_price %>
        <tr class="
        <%= @toggle == "odd" ? "" : "bg-gray-200" %>
        ">
          <% @toggle = (@toggle == "odd" ? "even" : "odd") %>
          <td class="
          flex items-center
          h-16
          px-8
          ">
            <%= image_tag @client.logo(transaction.stock).url, class: "h-4/5" %>
            <div class="ml-3 flex flex-col">
              <p class="font-semibold uppercase">
                <%= transaction.action %> <%= transaction.stock %>
              </p>
              <p class="text-gray-600 text-sm">
                <%= transaction.created_at.strftime("%d/%m/%Y %I:%M %p") %>
              </p>
            </div>
          </td>
          <td class="text-center p-2">
            <%= number_to_currency(transaction.price_per_share * transaction.shares) %>
          </td>
          <td class="text-center p-2">
            <%= transaction.shares %>
          </td>
          <td class="text-center p-2">
            <%= number_to_currency(transaction.price_per_share) %>
          </td>
          <td class="text-center p-2">
            <%= number_to_currency(mkt_price) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>