<p id="notice"><%= notice %></p>
<ul>
    <li><%= @transaction.action %></li>
    <li><%= @transaction.stock %></li>
    <li><%= @transaction.shares %></li>
    <li><%= @transaction.price_per_share %></li>
</ul>

<%= link_to 'Back', transactions_path %>
